<footer class="footer">
    <svg height="210" width="100%">
        <line  style="stroke:#FFF;stroke-width:90" x1="0" x2="101%" y1="-20" y2="40"></line>
      </svg>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
               <div class="ebusiness">
                  <h3>ONLINE <span>SHOP</span></h3>
                   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, consectetur adipiscing elit, sed do eiusmod temporو totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                   <ul>
                   <li><a ><i class="fa fa-facebook"></i></a></li>
                   <li><a ><i class="fa fa-twitter"></i></a></li>
                   <li><a ><i class="fa fa-google"></i></a></li>
                   <li><a><i class="fa fa-linkedin"></i></a></li>
                   </ul>
                </div>
            </div>      
             <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="info ">
                    <h4>INFORMATION</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                      <div class="personal">
                        <p><span>Tel :</span> +123 456 789</p>
                        <p><span>Email :</span> contact@example.com</p>
                        <p><span>Working Hours :</span> 9am-5pm</p>
                      </div>
                </div>
            </div>      
             <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class=" insta">
                       <h4>INSTAGRAM</h4>
                      <div class="images">
                          <div>
                            <img src="assets/14.jpg">
                          </div>
                          <div>
                            <img src="assets/12.jpg">
                          </div>
                          <div>
                            <img src="assets/13.jpg">
                          </div>
                          <div>
                            <img src="assets/18.jpg">
                          </div>
                          <div>
                            <img src="assets/15.jpg">
                          </div>
                          <div>
                            <img src="assets/17.jpg">
                          </div>
                      </div>        
                </div>
            </div>      
        </div>
        </div>
</footer>
<div class="copyright">
    <p>&copy; Copyright <strong>ONLINE SHOP</strong>. All Rights Reserved</p>
    <p>Designed by <span>A.Nour</span></p>
</div>
<!--        end footer-->
