
input:focus{
    outline: 0;
    box-shadow: none;
}

.btn-1 {
    background-color: #fcb316;
  }
  .btn-del{
    background-color: #d9534f;
  }
    .btn-1 .round {
    background-color: #f3cd7b;
  }
  .btn-del .round{
    background-color: #ff9494;
  }
  input:focus,button:focus,select:focus{
     box-shadow: none;
     outline: 0;
  }
  input,select{
    margin-bottom: -10px;
  }
    button {
    text-decoration: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 6px 40px 6px 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    margin: 0px 10px 10px 0;
  }
    button span {
    position: relative;
    z-index: 3;
  }
    button .round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 4px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 2;
  }
     button .round i {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -4px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
    .txt {
    font-size: 15px;
    line-height: 1.45;
  }
  
  hr{
    width: 140px;
    background-color: #fcb316;
    border-width: unset;
}
   .round {
    background: transparent;
  }
    button {
    position: relative;
    overflow: hidden;
  }   a:focus{
      outline: none;
  }
    button.btn-1:after {
    background-color: #f3cd7b;
  }
  button.btn-del:after{
    background-color: #ff9494;
  }
    button:after {
    content: "";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 4px;
    top: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
    button:hover:after {
    right: 100%;
    width: 50%;
  }
    button:hover i {
    margin-left: 4px;
  }

  .message,.remove{
      cursor: pointer;
  }
  .message i,.remove i{
    background: #fcb316;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.4s;
}
.message i:hover,.remove i:hover{
    background:transparent;
    color: #000000;
}
.remove i{
  background: #d9534f;
}

.alert-info {
  color: #ffffff;
  background-color: #fcb316;
  border: none;
}