
p{
    margin-top: -10px;
    color:red;
    }
        .social_icon span{
        font-size: 60px;
        margin-left: 10px;
        color: #fcb316;
        }
        
        .social_icon span:hover{
        color: white;
        cursor: pointer;
        }
        
        .card-header h3{
        color: #333;
        }
        
        .social_icon{
        position: absolute;
        right: 20px;
        top: -45px;
        }
        
        .input-group-prepend span{
        width: 50px;
        background-color: #fcb316;
        color:#FFF;
        border:0 !important;
        }
        
        input.ng-invalid.ng-touched{
            border:1px solid red;
        }
    
        input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
        
        }
        
        .remember{
        color: white;
        }
        
        .remember input
        {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
        }
        
        .login_btn{
        color: black;
        background-color: #fcb316;
        width: 100px;
        }
        
        .login_btn:hover{
        color: black;
        border:1px solid #d8d8d8;
        background-color: white;
        }
        .login_btn:disabled{
            background-color:#fcb316;
            cursor: no-drop;
        }
        .links{
        color: white;
        }
        
        .links a{
        margin-left: 10px;
        color:#007be3;
        cursor: pointer;
        }