<div class="container">
		<div class="card ">
			<div class="card-header">
				<h3>Register Another Admin</h3>
			</div>
			<div class="card-body">
				<form (ngSubmit)="addAdmin(f)" #f="ngForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input type="text" name="username" class="form-control" placeholder="UserName"
						ngModel  #username="ngModel" required minlength="10" pattern="^[a-zA-Z0-9\_]+">
					   
				   </div>
				   <div *ngIf="username.invalid && username.touched">
					   <p *ngIf="username.errors?.minlength">  min Length 10 Your Enter {{username.errors.minlength.actualLength}}</p>
					   <p *ngIf="username.errors?.required">UserName Is Required </p>
					   <p *ngIf="username.errors?.pattern"> UserName Format Required </p>
				   </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>

						<input type="email"  name="email" class="form-control" placeholder="Email"
						 ngModel #email="ngModel" required email>
					</div>
					<p *ngIf="email.touched && email.errors?.required">Email Is Required</p>
					<p *ngIf="email.touched &&  email.errors?.email">Wrong Email Format</p>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password"
						ngModel #password="ngModel" required minlength="6">
					</div>
					<p *ngIf="password.touched && password.errors?.required">Password Is Required </p>
					<p *ngIf="password.touched && password.errors?.minlength">Password Should Be Length 6+  </p>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" name="passwordConfirm" class="form-control" placeholder="Confirm Password"
						ngModel #passwordConfirm="ngModel" required minlength="6">
					</div>
					<p *ngIf="passwordConfirm.touched && passwordConfirm.errors?.required">Confirm Password Is Required</p>
					<p *ngIf="passwordConfirm.touched && passwordConfirm.value !== password.value ">Passwords Are Not Equal</p>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-phone"></i></span>
						</div>
						<input type="text" name="phone" class="form-control" placeholder="phone Number"
						ngModel #phone="ngModel" required minlength="11" maxlength="11" pattern="^[0-9]+[0-9]*">
					</div>
					<p *ngIf="phone.touched && phone.errors?.required">Phone Number Is Required </p>
					<p *ngIf="phone.touched && phone.errors?.minlength">Number Should Be Length 11  </p>
                    <p *ngIf="phone.errors?.pattern">  Enter Positive number </p>
					<div class="form-group">
						<input type="submit" value="Add"
						 [disabled]="f.invalid || passwordConfirm.value !== password.value " 
						 class="btn float-right login_btn">
					</div>
					<p *ngIf="signErrorMessage">{{signErrorMessage}}</p>
				</form>
			</div>
	</div>
</div>
