
.header-section{
    height:700px;
     width:100%;
      position: relative; 
     color:#FFF;
 }

 .header-section .overlay{
     position: absolute;
     background-color: rgba(0,0,0,0.6);
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }
 .header-section {
     width: 100%;
     background-image:  url(../../assets/12.jpg);
     background-size: cover;
     height: 100%;
 }
 .header-section #particles-js{
    height: 100%;
    z-index: 999;
 }

 .header-section .title{
     width: 100%;
     margin: auto;
     text-align: center;
     position: absolute;
     top: 35%;
 }
 .header-section .title h2{
     display: block;
     font-size: 45px;
 }
 

 .header-section .title p{
     font-size: 25px;
     font-weight: 100;
 }
 .header-section .typed-cursor{
    opacity: 0;
     font-size: 40px;
 }
 
.arrow-down{
    display: block;
    margin-top: 50px;
    font-size: 30px;
    animation: StratAnmi 1s ease-in infinite;
}

@keyframes StratAnmi{
    0%{
        margin-top: 50px; 
    }
    50%{
        margin-top: 80px;
    }
    100%{
        margin-top: 50px;
    }
}

 .header-section .btn-1 {
    background-color: #fcb316;
  }
  .header-section  .btn-1 .round {
    background-color: #f3cd7b;
  }
  
  .header-section  a {
    text-decoration: none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 12px 53px 12px 23px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    margin-top: 10px;
  }
  .header-section  a span {
    position: relative;
    z-index: 3;
  }
  .header-section  a .round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 2;
  }
  .header-section   a .round i {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -4px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .header-section  .txt {
    font-size: 17px;
    line-height: 1.45;
  }
  
  .header-section .round {
    background: transparent;
  }
  .header-section  a {
    position: relative;
    overflow: hidden;
  } .header-section  a:focus{
      outline: none;
  }
  .header-section  a.btn-1:after {
    background-color: #f3cd7b;
  }
  
  .header-section  a:after {
    content: "";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 37px;
    height: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

  }
  .header-section  a:hover:after {
    right: 100%;
    width: 50%;
  }
  .header-section  a:hover i {
    margin-left: 4px;
  }

  @media(min-width:500px) and (max-width:600px ){
    .header-section .title h2 {
        font-size: 35px;
        }
        .header-section .title p {
        font-size: 17px;
        }
    
}
.curveDownColor{
    transform: rotate(180deg); margin-top: -127px;
     fill: #fff;
}

 @media only screen and (max-width: 500px){
     .header-section .title h2 {
     font-size: 30px;
     }
     .header-section .title p {
     font-size: 15px;
     }

     .header-section a {
        padding: 9px 43px 9px 10px;
     }
     .header-section  .txt {
        font-size: 15px;
     }
  
     .navbar-brand {
         font-size: 20px;
     }
 }
 @media only screen and (max-width: 550px){
    .featured-products h1{
        text-align: center;
        font-size: 27px;
     margin-top: 15px;
    }
 }


.featured-products{
    margin-top: -50px;
    padding:0 0 55px 0;
    position: relative;
    text-align: center;
}
.featured-products hr{
    width: 140px;
    background-color: #fcb316;
    border-width: unset;
}
.featured-products h1{
    text-align: center;
}
.row{
    margin: 0;
    padding: 0;
}
.featured-products .parent-item{
    padding:5px;
    margin-top: 10px;
    height: auto;
}
.featured-products .item{
    
    position: relative;
    transition: 3s;
    height: 100%;
    background: #f8f8f8;
    display: block;
    padding: 0;
}

.featured-products .item:hover .overlay{
    opacity: 1;
}

.featured-products .item img{
    width: 94%;
    height: 70%;
    margin-top: 8px;
    object-fit: cover;
}


.featured-products .item .overlay{
     position: absolute;
  top: 0;
  opacity: 0;
     height: 70%;
    top:0%;
    bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  background-color:rgba(0,0,0,0.4);
    cursor: pointer;
    width: 95%;
    margin: 8px auto;
}
.featured-products .item .btnCart{
    width: 95%;
    margin: auto;
}
.featured-products .item .btnCart button{
    height: 45px;
    border: 1px solid #DDD;
    background: #FFF;
    text-transform: uppercase;
    color: #5f5f5f;
    transition: 0.5s;
}
.featured-products .item .btnCart button:hover{
background:#fcb316 ;
color:#FFF;
border:1px solid #fcb316;
}
.featured-products .item .btnCart button:focus{
    outline: #fcb316;
}
.featured-products .item .eyes{
width:25%;
font-size: 22px;
}
.featured-products .item .cart{
    width:50%;
    font-weight: 500;
    box-shadow: 0 0 7px rgb(218, 218, 218);
}
.featured-products .item .like{
    width: 25%;
    font-size: 22px;
}
.featured-products p{
        font-size: 20px;
    margin-top: 5px;
        margin-bottom: 0px;
        text-align: left;
    padding-left:10px ;
}
.featured-products .price{
    float: left;
    padding-left: 10px;
    color:#fcb316;
    font-size: 19px;
}

.featured-products .rate{
    float: right;
    padding-right: 10px;
}

.rating {
    line-height: 1;
}
.fa-stack {
    height: 12px;
    line-height: 1;
    width: 10px;
    margin: 3px;
}
.fa.fa-star-o.fa-stack-1x, .fa.fa-star.fa-stack-x {
    color: #b2b2b2;
}
.fa-stack-1x, .fa-stack-x {
    font-size: 15px;
}
.fa.fa-star.fa-stack-1x {
    color: #fcb316;
}



.cloths .row{
    border-top: 1px solid #DDD;
    margin-top: 10px;
    padding: 10px;
}

.cloths .image img{
    width: 80%;
}
.cloths .image img:hover{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
}

.cloths .body p{
    line-height: 32px;
    font-size: 20px;
    color: #484848;
}
@media only screen and (max-width: 500px){
    .cloths .body p{
        line-height: 31px;
        font-size: 17px;
    }
}
.cloths .body h2{
    margin: 12px 0;
    color: #404040;
}


.discount {
    background: #353535;
    padding: 20px;
    color: #FFF;
}

.discount .disNum{
    color:#fcb316;
}


.discount .shopNow{
    width:100%;
    text-align: center;
    line-height: normal;
}

.discount .shopNow button{
    border: 1px solid #fcb316;
    padding: 7px 25px;
    font-weight: 600;
    color: #FFF;
    background: #fcb316;
    transition: 0.5s;
    margin-top: 50px;
}
.discount .shopNow button:focus{
    outline: 0;
    box-shadow: none;
}

.discount .shopNow button:hover{
    border: 1px solid #fcb316;
    background-color: transparent;
}

.topbtn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: 21px;
    width: 45px;
    height: 45px;
    z-index: 999;
    border-radius: 50%;
    background:#fcb316;
    border: none;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    display: none;
}
.topbtn i{
    line-height: 45px;
}